.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Data directory with raw and trimmed fastq files
data_RNA/*.gz
data_WGBS/*.gz
data_WGBS/*/*.gz

# large unzipped reference files
references/*txt
references/*fasta
references/*gff3
references/*gtf
random/strandedness
references/annotation/SwissProt-Annot-GO_111524.tsv
references/motif_dbs/

#bams and sams and hisat index files and stringtie gtfs
*bam
*bai
*sam
*ht2
output_RNA/stringtie/LCM_*.gtf
output_RNA/stringtie/*tab
output_RNA/stringtie-GeneExt/*tab
output_RNA/stringtie-GeneExt/LCM_*.gtf
output_RNA/stringtie-GeneExt/merged
output_RNA/stringtie-GeneExt/transcript_count_matrix.csv
output_WGBS/*/*gz
output_WGBS/*/*cov
output_WGBS/*/Non_CpG_context*
output_WGBS/*/CpG_context*
output_WGBS/*/*CpG_report.txt

#temporary file directories
tmp*/
scripts/outs_errs/bismark_align*
scripts/outs_errs/methylseq.*
scripts/outs_errs/.nextflow*
scripts/methylseq.*
scripts/old/*
scripts/*/old/*

#blast databases
references/blast_dbs/*

#large unzipped output files
output_RNA/differential_expression/blast/DEG_05_blast_results_full.txt
code/go_mwu/dissim*
references/Bisulfite_Genome*
references/BwamethIndex*
references_Pdam/*
.nextflow/*
references/Pocillopora_acuta_HIv2.assembly.fasta.fai
output_WGBS/*/*gz
output_WGBS/*/*/*gz
*.methylKit