.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Data directory with raw and trimmed fastq files
data_RNA/*.gz

# large unzipped reference files
references/*txt
references/*fasta
references/*gff3
references/*gtf
random/strandedness
references/annotation/SwissProt-Annot-GO_111524.tsv

#bams and sams and hisat index files and stringtie gtfs
*bam
*bai
*sam
*ht2
output_RNA/stringtie/LCM_*.gtf
output_RNA/stringtie/*tab
output_RNA/stringtie-GeneExt/*tab
output_RNA/stringtie-GeneExt/LCM_*.gtf
output_RNA/stringtie-GeneExt/merged
output_RNA/stringtie-GeneExt/transcript_count_matrix.csv

#temporary file directories
tmp*/
references/blast_dbs/uniprot_sprot_r2024_10_02.fasta
references/blast_dbs/uniprot_sprot_r2024_10_02.pdb
references/blast_dbs/uniprot_sprot_r2024_10_02.phr
references/blast_dbs/uniprot_sprot_r2024_10_02.pin
references/blast_dbs/uniprot_sprot_r2024_10_02.pjs
references/blast_dbs/uniprot_sprot_r2024_10_02.pot
references/blast_dbs/uniprot_sprot_r2024_10_02.psq
references/blast_dbs/uniprot_sprot_r2024_10_02.ptf
references/blast_dbs/uniprot_sprot_r2024_10_02.pto
