.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Data directory with raw and trimmed fastq files
data_RNA/*.gz

# large unzipped reference files
references
random/strandedness

#bams and sams and hisat index files and stringtie gtfs
*bam
*bai
*sam
*ht2
output_RNA/stringtie/LCM_*.gtf
output_RNA/stringtie/*tab

#temporary file directories
tmp*/